@{
    ViewData["Title"] = "Accesso Negato";
}

<h1 class="text-danger">Accesso Negato</h1>
<p>Non hai i permessi necessari per accedere a questa risorsa.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Torna alla Home</a>