@{
    ViewData["Title"] = "Le Nostre Sale";
}

<h1>@ViewData["Title"]</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="/images/SALA-1.jpg" class="card-img-top" alt="Sala 1">
                <div class="card-body">
                    <h2 class="card-title">SALA 1: L'Esperienza Cinematografica Classica</h2>
                    <p class="card-text"><strong>Capacità:</strong> 219 posti</p>
                    <p class="card-text"><strong>Comfort:</strong> Poltrone da 1.20 metri di larghezza</p>
                    <h3>Tecnologia all'Avanguardia</h3>
                    <ul>
                        <li><strong>Audio:</strong> Sistema Dolby 7.1 con processore Dolby CP950</li>
                        <li><strong>Video:</strong> Proiezione 2k 3D Christie Digital</li>
                    </ul>
                    <p>Immergiti in un'esperienza cinematografica straordinaria nella nostra Sala 1. Con un ambiente spazioso e poltrone comode, potrai goderti i film in totale relax. La combinazione di audio cristallino e immagini nitide crea un'atmosfera coinvolgente per ogni proiezione.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="/images/SALA-2.jpg" class="card-img-top" alt="Sala 2">
                <div class="card-body">
                    <h2 class="card-title">SALA 2: Il Futuro del Cinema</h2>
                    <p class="card-text"><strong>Capacità:</strong> 164 posti</p>
                    <p class="card-text"><strong>Inaugurata:</strong> Ottobre 2021</p>
                    <h3>Tecnologia di Punta</h3>
                    <ul>
                        <li><strong>Video:</strong> Proiezione 4K e 3D</li>
                        <li><strong>Audio:</strong> Sistema Dolby Atmos</li>
                    </ul>
                    <p>La Sala 2 è il nostro gioiello tecnologico. Inaugurata recentemente, offre un'esperienza visiva e sonora senza pari. La proiezione 4K regala immagini incredibilmente nitide e dettagliate, mentre il sistema audio Dolby Atmos ti avvolge completamente nel suono, facendoti sentire al centro dell'azione.</p>
                    <p>Qui, ogni film diventa un'avventura immersiva, dove la tecnologia all'avanguardia ti trasporta direttamente nel cuore della storia.</p>
                </div>
            </div>
        </div>
    </div>
</div>
